<form #addFoodForm="ngForm" (ngSubmit)="submitForm(addFoodForm)">
    <mat-form-field class="full-width">
        <input matInput placeholder="Name" [(ngModel)]="formFood.name" name="name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Calories" [(ngModel)]="formFood.calories" name="calories">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Carbs" [(ngModel)]="formFood.carbs" name="carbs">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Sugar" [(ngModel)]="formFood.sugar" name="sugar">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Fiber" [(ngModel)]="formFood.fiber" name="fiber">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Protein" [(ngModel)]="formFood.protein" name="protein">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Fat" [(ngModel)]="formFood.fat" name="fat">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="full-width">Submit</button>
</form>