<div class="center">
  <h1 style="display: inline-block; margin: 8px 24px;">Week Planner</h1>
  <button mat-icon-button (click)="resetWeekIndex()" style="position: absolute; top: 16px;">
    <mat-icon>calendar_today</mat-icon>
  </button>
  
  <button *ngIf="changes" (click)="saveWeek()" mat-raised-button color="primary" style="position: absolute; top: 20px; right: 2%; width: 25%;">
        <mat-icon>save</mat-icon>
        Save Week
      </button>
</div>
<div class="center" style="margin-bottom: 0">
  <button mat-icon-button class="change-week-button" style="margin-right: 8px;" (click)="changeWeekIndex(-1)">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <h3 class="center" style="display: inline-block; width: 40%">{{ weekStart }} - {{ weekEnd }}
  </h3>
  <button mat-icon-button class="change-week-button" style="margin-left: 8px;" (click)="changeWeekIndex(1)">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<h6 *ngIf="weekIndex === 0" class="center" style="margin-top: 0; font-style: italic;">current Week</h6>
<h6 *ngIf="weekIndex === 1" class="center" style="margin-top: 0; font-style: italic;">upcoming Week</h6>

<div class="week-overview">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile colspan="4" *ngIf="weekIndex >= 0">
      <table class="table-overview">
        <tr style="height: 25px;">
          <th></th>
          <th>Goal</th>
          <th>Remaining</th>
        </tr>
        <tr>
          <td>Calories</td>
          <td>{{ weekGoals.totalCalories }}</td>
          <td>{{ weekRemaining.calories }}</td>
        </tr>
        <tr>
          <td>Carbohydrates</td>
          <td>{{ weekGoals.totalCarbs }}g</td>
          <td>{{ weekRemaining.carbs }}g</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td>{{ weekGoals.totalProtein }}g</td>
          <td>{{ weekRemaining.protein }}g</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td>{{ weekGoals.totalFat }}g</td>
          <td>{{ weekRemaining.fat }}g</td>
        </tr>
        <tr>
        </tr>
      </table>
    </mat-grid-tile>
    <mat-grid-tile style="height: 55%;" *ngIf="weekIndex >= 0">
      <mat-list class="food-selection">
        <mat-list-item *ngFor="let food of foodList" style="height: 36px;" (click)="selectFood(food)">
          {{ food.name }}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" style="height: 55%;">
      <mat-list class="food-selection">
        <mat-list-item *ngFor="let food of selectedFoods" style="height: 36px;">
          {{ food.amount }}g {{ food.baseFood.name }}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
