.change-week-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.table-overview td {
    width: 125px;
    text-align: center;
}

.table-overview tr td:first-child {
    text-align: right;
}

.week-overview {
    position: absolute;
    top: 15%;
    width: 100%;
}

.food-selection {
    width: 100%;
    position: absolute;
    top: 2%;
    left: 2%;
}

.food-selection mat-list-item:hover {
    background-color: #D3D3D3;
    cursor: pointer;
}